{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block content %}

<form method="POST">
    <h3 align="center">Sign Up</h3>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name">
    </div>
    <div class="mb-3">
        <label for="password1" class="form-label">Password</label>
        <input type="password" class="form-control" id="password1" name="password1">
    </div>
    <div class="mb-3">
        <label for="password2" class="form-label">Password Again</label>
        <input type="password" class="form-control" id="password2" name="password2">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="terms" name="terms">
        <label class="form-check-label" for="terms">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}